@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div data-bind="template: {name: templateUrl(),templateSrc: templateSrc()}, attr: {id: typeId()+&quot;-&quot;+id()}, visible:($masterViewModel.storeConfiguration.enablePrioritizedLoading) ? (occPrioritizedDisplay ? occPrioritizedDisplay : true):true" id="webContent_v2-wi200066">
        <!-- ko setContextVariable: {name: 'elementConfig', value: {
          "200077": {
            "id": "200077",
            "padding": {
              "paddingBottom": "0",
              "paddingLeft": "0",
              "paddingRight": "0",
              "paddingTop": "0"
            },
            "richText": {
              "content": "<footer class=\"col-xs-12 footer\">\n<div class=\"footer-container\">\n<div class=\"footer-btm\" id=\"newsletter\"><span class=\"title\">ISCRIVITI ALLA NEWSLETTER<\/span> <span class=\"subtitle\">E ricevi news e promozioni<\/span> <input placeholder=\"Inserisci la tua mail\" type=\"text\" \/>\n<p class=\"newsletter-button\"><a data-toggle=\"modal\" href=\"#CC-newsletterModalPanel\" id=\"CC-JoinNewsletter\" style=\"color:#fff!important\">Iscriviti <\/a><\/p>\n<\/div>\n\n<div class=\"footer-btm first\"><span class=\"title\">Servizio clienti<\/span>\n\n<div class=\"footer-links\"><a href=\"\/paymentMethod\">Metodo di pagamento<\/a><a href=\"\/shipping\">Spedizioni<\/a><a href=\"\/returns\">Resi<\/a><a href=\"\/termsAndConditions\">Termini e condizioni<\/a><a href=\"\/contactUs\">Contattaci<\/a><\/div>\n<\/div>\n\n<div class=\"footer-btm\"><span class=\"title\">Corporate<\/span>\n\n<div class=\"footer-links\"><a href=\"\/storelocator\">Store Locator<\/a><\/div>\n\n<div class=\"footer-links\"><a href=\"\/corporate\">Company Profile<\/a><\/div>\n\n<div class=\"footer-links\"><a href=\"\/category\/press\">Press<\/a><\/div>\n\n<div class=\"footer-links\"><a href=\"\/dealers\">Rivenditori e Agenti<\/a><\/div>\n<\/div>\n\n<div class=\"footer-btm\"><span class=\"title\">Privacy<\/span>\n\n<div class=\"footer-links\"><a href=\"\/privacy\">Informativa sulla privacy e cookie policy<\/a><\/div>\n<\/div>\n\n<div class=\"footer-btm last\"><span class=\"title\">SOCIAL<\/span>\n\n<div class=\"footer-links\"><a class=\"instagram-link\" href=\"https:\/\/www.instagram.com\/toscabluofficial\/\" target=\"_blank\">Instagram<\/a><a class=\"facebook-link\" href=\"https:\/\/www.facebook.com\/TOSCABLUOFFICIAL\/\" target=\"_blank\">Facebook<\/a><\/div>\n<\/div>\n<\/div>\n<\/footer>\n",
              "sourceMedia": "m20156"
            }
          },
          "200078": {
            "id": "200078",
            "padding": {
              "paddingBottom": "0",
              "paddingLeft": "0",
              "paddingRight": "0",
              "paddingTop": "0"
            },
            "richText": {
              "content": "<div class=\"footer-info\">\n<p><span>MINORONZONI s.r.l. - Sede amministrativa: <\/span><span>Via E.Fermi - 24036 Ponte S.Pietro (BG) <span class=\"scorr\">-<\/span> <span>Tel. 035.467111 - Fax 035.467142 <\/span><span class=\"scorr\">-<\/span> <span>E-mail: toscablu@minoronzoni.it<\/span><\/span><\/p>\n\n<p><span>Cop. Soc. &euro; 7.000.000,00 - C.C.I.A.A. Bergamo n.225081<\/span> <span class=\"scorr\">-<\/span> <span>Tribunale di Bergamo Rag. Soc. 28080<\/span> <span class=\"scorr\">-<\/span> C.F. e P.IVA 01638680163<\/p>\n\n<p class=\"info-brand\">powered by IBOX SA<\/p>\n<\/div>\n",
              "sourceMedia": "m20158"
            }
          }
        }} -->
        <!-- /ko -->
        <!-- oc layout: panels -->
        <div class="row">

            <div class="oc-panel col-md-12" data-oc-id="panel-0-0">

                <!-- oc section: rich-text -->
                <span data-bind="element: 'rich-text',id: '200077'" id="wi200066-rich-text-200077">
                    <!-- ko with: $elementInstance -->
                    <!-- ko if: ($data.hasOwnProperty('config') && $data.id !== 'id') -->
                    <div class="cc-rich-text" data-bind="style: {paddingTop: config.padding.paddingTop + 'px', paddingBottom: config.padding.paddingBottom + 'px', paddingLeft: config.padding.paddingLeft + 'px', paddingRight: config.padding.paddingRight + 'px'}, html: config.richText.content" style="padding: 0px;">
                        <footer class="col-xs-12 footer">
                            <div class="footer-container">
                                <div class="footer-btm" id="newsletter">
                                    <span class="title">ISCRIVITI ALLA NEWSLETTER</span> <span class="subtitle">E ricevi news e promozioni</span> <input placeholder="Inserisci la tua mail" type="text">
                                    <p class="newsletter-button"><a data-toggle="modal" href="#CC-newsletterModalPanel" id="CC-JoinNewsletter" style="color:#fff!important">Iscriviti </a></p>
                                </div>

                                <div class="footer-btm first">
                                    <span class="title">Servizio clienti</span>

                                    <div class="footer-links"><a href="https://www.toscablu.com/it-IT/paymentMethod">Metodo di pagamento</a><a href="https://www.toscablu.com/it-IT/shipping">Spedizioni</a><a href="https://www.toscablu.com/it-IT/returns">Resi</a><a href="https://www.toscablu.com/it-IT/termsAndConditions">Termini e condizioni</a><a href="https://www.toscablu.com/it-IT/contactUs">Contattaci</a></div>
                                </div>

                                <div class="footer-btm">
                                    <span class="title">Corporate</span>

                                    <div class="footer-links"><a href="https://www.toscablu.com/it-IT/storelocator">Store Locator</a></div>

                                    <div class="footer-links"><a href="https://www.toscablu.com/it-IT/corporate">Company Profile</a></div>

                                    <div class="footer-links"><a href="https://www.toscablu.com/it-IT/category/press">Press</a></div>

                                    <div class="footer-links"><a href="https://www.toscablu.com/it-IT/dealers">Rivenditori e Agenti</a></div>
                                </div>

                                <div class="footer-btm">
                                    <span class="title">Privacy</span>

                                    <div class="footer-links"><a href="https://www.toscablu.com/it-IT/privacy">Informativa sulla privacy e cookie policy</a></div>
                                </div>

                                <div class="footer-btm last">
                                    <span class="title">SOCIAL</span>

                                    <div class="footer-links"><a class="instagram-link" href="https://www.instagram.com/toscabluofficial/" target="_blank">Instagram</a><a class="facebook-link" href="https://www.facebook.com/TOSCABLUOFFICIAL/" target="_blank">Facebook</a></div>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->

                </span>

                <!-- /oc -->
                <!-- oc section: rich-text -->
                <span data-bind="element: 'rich-text',id: '200078'" id="wi200066-rich-text-200078">
                    <!-- ko with: $elementInstance -->
                    <!-- ko if: ($data.hasOwnProperty('config') && $data.id !== 'id') -->
                    <div class="cc-rich-text" data-bind="style: {paddingTop: config.padding.paddingTop + 'px', paddingBottom: config.padding.paddingBottom + 'px', paddingLeft: config.padding.paddingLeft + 'px', paddingRight: config.padding.paddingRight + 'px'}, html: config.richText.content" style="padding: 0px;">
                        <div class="footer-info">
                            <p><span>MINORONZONI s.r.l. - Sede amministrativa: </span><span>Via E.Fermi - 24036 Ponte S.Pietro (BG) <span class="scorr">-</span> <span>Tel. 035.467111 - Fax 035.467142 </span><span class="scorr">-</span> <span>E-mail: toscablu@minoronzoni.it</span></span></p>

                            <p><span>Cop. Soc. € 7.000.000,00 - C.C.I.A.A. Bergamo n.225081</span> <span class="scorr">-</span> <span>Tribunale di Bergamo Rag. Soc. 28080</span> <span class="scorr">-</span> C.F. e P.IVA 01638680163</p>

                            <p class="info-brand">powered by IBOX SA</p>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->

                </span>
                <!-- /oc -->

            </div>


        </div>
        <!-- /oc -->
    </div>
}
